.hobbies {
  @extend .d_flex_c;
  @extend .w_100;
  @extend .a_cen;

  background-color: #f1f1f1;
  min-height: 60vh;
  padding: 0 24px;

  & > .section-title {
    margin-bottom: 12vh;
  }
}

.hobbies_box {
  @extend .d_flex_c;
  @extend .w_100;

  align-items: center;
  justify-content: stretch;

  font-family: 'Archivo', sans-serif;
  margin: 0% 4%;

  & > img {
    height: 48px;
  }

  & > div.box-title {
    font-size: 1em;
    margin: 24px 0px;
  }

  & > div.box-desc {
    color: 464846;
    font-weight: 100;
    font-size: 1em;
    line-height: 1.5em;
    text-align: center;
  }
}