.nav {
  @extend .d_flex_r;
  @extend .a_cen;
  @extend .w_100;
  @extend .p_fixed;

  // box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12);
  // background-color: #202124; 
  font-family: 'Inconsolata', monospace; 
  justify-content: space-between;
  padding-top: 8px;
  padding-bottom: 12px;
  height: 72px;
  z-index: 10;

  & > p {
    color: #f1f1f1;
    font-size: 18px;
    left: 5%;
    cursor: pointer;
    position: relative;
  
    &:hover {
      opacity: 0.7;
    }
  }

  & > div {
    @extend .d_flex_r;
    @extend .a_cen;

    position: relative;
    right: 10%;
    width: auto;
  }
}

.nav_option {
  color: #bdbdbd;
  margin-left: 3%;
  margin-right: 3%;

  &:hover {
    cursor: pointer;
    opacity: 80%;
    text-decoration: underline;
  }
}