.about {
  @extend .d_flex_r;
  @extend .w_100;
  @extend .a_cen;
  @extend .j_cen;

  position: relative;

  padding-bottom: 64px;
}

.profile {
  border-radius: 50%;
  height: 128px;
  width: 128px;
  margin-right: 36px;
}

.descriptionAbout {
  width: 60%;
}