.landing {
  background-color: rgba(0, 0, 0, .8);
  background-blend-mode: darken;
  background-image: 
    url("/dist/assets/background.JPG");
  background-size:     cover;                      
  background-repeat:   no-repeat;
  
  @extend .d_flex_c;
  @extend .a_cen;

  min-height: 100vh;

  & > p {
    color: #67f70e;
    font-size: 3em;
    font-family: 'Inconsolata', monospace;
    font-weight: 500;
    position: relative;
    top: 35%;
  }

  & > .next_section {
    top: 70vh;
  }
}