.d_flex_c {
  @extend %flex;
  flex-direction: column;
}

.d_flex_r {
  @extend %flex;
  flex-direction: row;
}

.j_cen {
  justify-content: center;
}

.a_cen {
  align-items: center;
}

.w_100 {
  width: 100%;
}

.h_100 {
  height: 100%;
}

.p_fixed {
  position: fixed;
}

.p_rel {
  position: relative;
}

.pageText {
  @extend .d_flex_c;
  @media screen and (min-width: $desktopMinWidth) {
    width: 60%;
  }
}
