html {
  font-size: 1em;
  height: 100vh;
  overflow-y: scroll;
}

body {
  background: #fafafa;
  height: 100%;
  margin: 0px;
}

a {
  color: black;
}

// Standardize Box Sizing
*, *:before, *:after {
  box-sizing: border-box;
}

#app {
  height: 100%;
}