@font-face {
  font-family: 'Inconsolata', monospace;
  src:  url('https://fonts.googleapis.com/css?family=Inconsolata');
}

@font-face {
  font-family: 'Archivo', sans-serif;
  src:  url('https://fonts.googleapis.com/css?family=Archivo');
}

@font-face {
  font-family: 'Cormorant', serif;
  src: url('https://fonts.googleapis.com/css?family=Cormorant');
}

.page-title {
  font-weight: 600px;
}

.section-title {
  color: #202124;
  font-size: 2em;
  font-family: 'Cormorant', serif;
  font-weight: 400;
  position: relative;
  margin-top: 2%;
  top: 10%;
}

.description {
  color: #202124;
  font-size: 1em;
  font-family: 'Incosolata', monospace;
  line-height: 1.5em;
}